.feature-pro {
    margin: 0 auto;
    padding: 30px 0;
}

.feature-pro .products h3 {
    text-align: center;
    font-family: var( --content-font-family);
    font-size: 30px;

}

.feature-pro .products p {
    text-align: center;
    font-size: 15px;
}




.component-pro nav ul {
    margin: 0;
    display: var(--content-display);
    list-style: none;
    justify-content: var(--content-justify-content);
}

.component-pro nav a {
    color: #000000;
    text-decoration: var( --content-text-decoration);
    padding: 20px;
    display: inline-block;
    transition: var( --content-transition);
}

.component-pro nav a:hover {
    background-color: var( --content-background-color);
}


