header {
    padding: 30px 0;
    background-color: #d3d3d3;
}

header nav {
    width: var(--content-width);
    margin: o auto;
    background-color: #000000;
}

header nav a {
    color: #ffffff;
    text-decoration: var(--content-text-decoration);
    padding: 20px;
    display: inline-block;
    transition: var( --content-transition);
}

header nav a:hover {
    background-color: var(--content-background-color);
}

header nav ul{
    margin: 0;
    padding: 0;
    display: var(--content-display);
    list-style: none;
    justify-content: var(--content-justify-content);

}